*{
    margin:0;
    padding: 0;
    font-family: "General Sans";
    box-sizing: border-box;
    background-color: black;
    color: white;
}

html,body{
    width: 100%;
    height: 100%;
}

#minicircle{
    transition: all cubic-bezier(0.19,1,0.22,1) 1s;
    width: 10px;
    height: 10px;
    position: absolute;
    z-index: 99999;
    border: 1px solid white;
    background-color: white;
    border-radius: 50%;
}

.bounding{
    width: fit-content;
    overflow: hidden;
}

.bounding .boundingelem {
    transform: translateY(100%);
} 

#main{
    width: 100%;
    background-color: black;
}

#hero{
    width: 100%;
    height: 100vh;
    color: white;
    background-color: black;
    /* position: relative; */
}

#nav{
    width: 100%;
    padding: 30px 30px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    

}
#nav a{
    text-decoration: none;
    color:white;
    font-size: 17x;
}

#heading{
    padding-top: 30px;
}

#heading h1{
    opacity: 0.6;
    margin-left: 40px;
    align-items: center;
    width: 100%;
    line-height: 0.9;
    font-family: "General Sans";
    font-size: 10.2vw;
    font-weight: 900;

}

#heading #secondh1{
    margin-left: 140px;
}

/* #heading h5{
    margin-left: 420px;
} */

.blocktext{
    display: flex;
    flex-direction: column;
    align-items: end;
    width: fit-content;
    
}
.blocktext h5{
    text-align: right !important;
    margin-top: 10px;
    font-size: 16px;
}

#cornerheading{
    display: flex;
    flex-direction: column;
    align-items: end;
    width: 100%;
    margin-top: 100px;
    padding-right: 50px;
}

#cornerheading h5{
    text-align: right;
    margin-top: 0.5vw;
    font-size: 1.5vw;

}
#footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* position: absolute; */
    padding-right: 40px;
    padding-left: 40px;
    margin-top: 30px;
    
}
#footer a{
    color: white;
    text-decoration: none;
}

#footer .icon{
    display: flex;
}

#footer .circle{
    display: flex;
    align-items: right;
    justify-content: center;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color:rgba(0, 0, 0, 0.955);
}
#none{
    width: 100%;
    height: 170px;
}
#second{
    width: 100%;
    height: 100vh;
    
}

.element{
    display: flex;
    width: 85%;
    position: relative;
    margin-left: 30px;
    padding: 40px 0 40px 0;
    border-top: 1px solid #888;
    justify-content: space-between;
    align-items: center;
}

.element h1{
    opacity: 0.6;
    font-size: 6.7vw;
}

.element img{
    opacity: 0;
    position: absolute;
    pointer-events: none;
    transform: translate(-50%,-50%);
    z-index: 999;
    width: 250px;
    height: 250px;
    
}

.element h5{
    height: 30px;
    width: 130px;
    padding: 4px 20px;
    text-align: center;
    border: 1px solid white;
    font-weight: 400;
    border-radius: 9999px;
}

#about{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 80px;
    padding: 10vw 5vw;
    padding-left: 28vw;
    width: 100%;

}

#about img{
    width: 250px;
    
}

#about p{
    line-height: 1.5;
}

#textabout{
    width: 30rem;
}

#textabout h5{
    opacity: 0.7;
}

#about a{
    
    text-decoration: none;
    font-size: 14px;
    height: 30px;
    width: 120px;
    padding: 4px 20px;
    text-align: center;
    border: 1px solid white;
    font-weight: 400;
    border-radius: 9999px;
}

#subscribe{
    margin-top: 60px;
    padding-left: 30px;
}

#subscribe h5{
    opacity: 0.6;
    padding-bottom: 3px;
}

#bottom{
    margin-top: 120px;
    padding-bottom: 40px;
    width: 100%;
    display: flex;
    
}

#bottomLeft {
    width: 45%;
    font-weight: 450;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

#bottomLeft .time{
    padding-left: 40px;
}

#bottomRight{
    width: 55%;
    display: flex;
    text-decoration: none;
    align-items: center;
    justify-content: space-evenly;
    font-weight: 450;
    font-size: 15px;
}
#bottomRight a{
    text-decoration: none;
    padding-left: 15px;
}
